{% extends "layout.html" %}
{% block content %}
<h1>About Us</h1>
        </div>
        <div class="page-content">
          <div class="panel borderbotm-none">
            <div class="content">
              <p>Boost your fitness journey by choosing the right platform to connect with like-minded individuals. 
                 BodyFit provides a safe and engaging space to meet fitness enthusiasts who share your goals and aspirations. 
                 Elevate your fitness experience and find your perfect fitness match today.</p>
              </p>
              <img src="./{{ url_for('static', filename='./images/weights.jpg') }}"" alt="picture" class="picture" width= 50%>

              <p>
                Finding the perfect fitness program and community that aligns with your goals and interests can be a challenging journey. 
                It takes time to discover the right fit and connect with like-minded individuals who share your passion for health and wellness. </p>
              </p>
              <img src="./{{ url_for('static', filename='./images/rope.jpg') }}"" alt="picture" class="picture" width= 50%>

              <h1> Background</h1>
              <p>BodyFit is a comprehensive fitness guide website dedicated to helping you achieve your health and wellness goals.
              With a user-friendly interface and a wealth of resources, BodyFit offers a personalized approach to fitness for individuals
              of all levels. Our carefully curated workout plans, expert tips, and comprehensive guides empower you to take control of your
              fitness journey. Whether you're a beginner looking to start a healthier lifestyle or a fitness enthusiast aiming to enhance your
              current routine, BodyFit is your ultimate destination for the tools, knowledge, and motivation to support you every step of the way.
              Let us be your trusted companion on the path to a fitter and healthier you.</p>
            </div>
          </div>
{% endblock %}