<h1>About Us</h1>
        </div>
        <div class="page-content">
          <div class="panel borderbotm-none">
            <div class="content">
              <p>The best way to boost your chances of finding love these days is by choosing the right and safe dating
                site.<br />
                They provide the platform to enhance your social circle and look for like-minded people, maybe to begin
                the chemistry which may turn into a real-deal.<br />
                But first, who do you want to date?</p>
              </p>
              <img src="./{{ url_for('static', filename='./images/weights.jpg') }}"" alt="picture" class="picture" width= 50%>

              <p>
                Its not easy to find a person that you're interested in or is like-minded as you.<br />
                Relationships and finding the person you desire takes time.<br /> But what if a website offers you your
                compatible match &#128562
              </p>
              <img src="./{{ url_for('static', filename='./images/rope.jpg') }}"" alt="picture" class="picture" width= 50%>

              <h1> Background</h1>
              <p> Lomi came up to the developers mind as a solution for this problem. <br />
                "Lomi", lemon in the English word, is usually used as a tradition in the Ethiopian culture at a specific
                holiday named Epiphany or "Timket" celebrated outdoor.</br>
                Dressed up in their finest, men and women join the crowd to celebrate.When a guy likes a girl he saw at
                that festival, he throws a lomi on her and expresses that he likes her. Then they will celebrate the
                holiday together and they date if the girl is interested too.</bold><big><br />
              </p>
              <p> Lomi is an interactive, easy to use dating site where you can find your ideal match.<br />
                It provides a technology based solution to the dating problems.</br>
                Nowadays in the modern world, every people are looking for a love relationship through the
                internet.<br />
                so, lomi is an ideal website for our clients looking for their mates.<br />
                It provides continous matches, facilitate the modification of profile as many times as needed, and
                provides a service for free.
              </p>
            </div>
          </div>