{% extends "layout.html" %}
{% block content %}
<div class="page-content">
  <div class="panel">
    <div class="content">
      <p>The best personalized fitness tracker.</p>
      <p>Healthier than ever!</p>
      <p>{{ text }}</p>
    </div>
  </div>
</div>
<div class="bottomabout">
  <div class="box2">
    <h1>About Us</h1>
    <div class="content">
      <p>The best way to boost your chances of tracking your fitness is by choosing the right and safe fitness tracking site. We provide the platform to enhance your fitness and, maybe, to begin the chemistry which may turn into a real deal.</p>
      <div class="button"><a href="./{{ url_for('about_us') }}">More Info</a></div>
    </div>
  </div>

  <div class="box2">
    <h1>Terms & Services</h1>
    <div class="content">
      <p>The Body Building Fitness Tracker, Inc. (“Body Builder”) has prepared this Privacy Policy (“Policy”) to explain the information we collect when you use our mobile application (the “App”) or our websites, and our other products and services including our groups, events, or surveys (collectively referred to in this Policy as the “Sites”), how we use and share that information, and your choices about that information. We suggest you read this Policy in conjunction with our Terms of Service.</p>
      <div class="button"><a href="./{{ url_for('terms_and_conditions') }}">More Info</a></div>
    </div>
  </div>
</div>
{% endblock %}
