{% extends "layout.html" %}
{% block content %}
  <div id="Info">
    <h2>Fitness Tracker</h2>
    <ul>
      {% for workout in workouts %}
      <li>
        <b>Name:</b> {{ workout.name }}<br>
        <b>Type:</b> {{ workout.type }}<br>
        <b>Difficulty:</b> {{ workout.difficulty }}<br>
        <b>Equipment:</b> {{ workout.equipment }}<br>
        <b>Instructions:</b> {{ workout.instructions }}<br>
        <b>Muscle:</b> {{ workout.muscle }}<br>
      </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
